<a href="https://colab.research.google.com/github/Rasheed-Alimen/OOP-58001/blob/main/Concepts_of_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#class Constructor
class Car: 
   pass

In [3]:
#create a class

class MyNumber:
  x = 5

num1 = MyNumber()
print(num1.x)

5

In [13]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

person = Person("Rasheed","19")
print(person.age)
print(person.name)

19
Rasheed

In [14]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def myFunction(self):
    print("Hello my name is",self.name)
person = Person("Rasheed","19")

person.myFunction()

Hello my name is Rasheed

In [15]:
#modify the object properties

person.name = "Rasheed"
print(person.name)
person.myFunction()

Rasheed
Hello my name is Rasheed

In [16]:
#deletion of object properties

del person.age
person.myFunction()
print(person.name)

Hello my name is Rasheed
Rasheed

In [17]:
#Area of Square

class Shapes:
  def __init__(self,sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides

  def display(self):
    print("The area of the square is", self.area())

square = Shapes(4)
square.display()

The area of the square is 16

In [19]:
class Student:
  def __init__(self, fullname, student_number, school):
    self.fullname = fullname
    self.student_number = student_number
    self.school = school
  
  def display_info(self):
    print(f"Fullname: {self.fullname}\nStudent Number: {self.student_number}\nSchool: {self.school}")

student = Student("Rasheed Marshall M. Alimen", "202214970", "Adamson University")
student.display_info()

Fullname: Rasheed Marshall M. Alimen
Student Number: 202214970
School: Adamson University