<a href="https://colab.research.google.com/github/Rasheed-Alimen/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [1]:
if 5>2:
  print("5>2")

5>2

Python comment

In [2]:
#This is a comment
print("Hello,world")

Hello,world

Python variable

In [3]:
x=1

#single variable with multiple values
array = [1, 2, 3]
print (array)

#multiple variables with single value
a=b=c="Maria"
print(a)
print(b)
print(c)

[1, 2, 3]
Maria
Maria
Maria

Casting

In [4]:
n=int(4)
print(n)

4

string

In [5]:
c="sally"
d=(5, 6)

print (type(c))
print (type(d))

<class 'str'>
<class 'tuple'>