<a href="https://colab.research.google.com/github/Rasheed-Alimen/OOP-58001/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List, Tuple, and Set Dictionaries

Variables and data types

In [1]:
#numbers
varNum = 123
pi = 3.14159

In [3]:
#strings
varString = "Hello world!"
varText = "This is a string"

In [4]:
#Lists
varList = ["abc", 123]

In [5]:
#Tuples
varTuple = ('abc', 123, "HELLO")

In [6]:
#Dictionaries
var = 3
varDict = {'first' :1, '2' : '2nd' , 3:var}

varDict = {}
varDict['first']=1
varDict['2'] = '2nd'
varDict[3] = var

Arithmetic

In [8]:
a = 5 + 3

In [10]:
a = 5 - 3

In [9]:
a = 5 * 3

In [11]:
a = 5 ** 3

In [12]:
a = 5 / 3

In [13]:
a = 5 % 3

In [14]:
a = 5 // 3

Arithmetic

In [ ]:
#increment/decrement

a = 5
a +=1

In [ ]:
#Decrement

a = 5
a -= 1

In [ ]:
#string concatenation
a = 'Hello' + 'World'

In [ ]:
#complex expressions

a = 3 + 5 - 6 * 2 / 4

Functions

def function name commands

In [15]:
def remainder(n, m):
  while True: 
    if n - m < 0:
      return n
    else:
      n = n - m

remainder(10, 4)

2

Lists

In [16]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])

1

In [17]:
print(varList[4])

Hello!

In [18]:
varList.append('World!')
print(varList[6])

World!

In [19]:
len(varList)

7

In [20]:
print(varList[5])

3.14159

In [21]:
varList.remove(pi)
print(varList[5])

World!

Example

In [30]:
class Shapes:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
rectangle = Shapes(10,5)
rectangle.area()

50

In [33]:
class Me:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def NameAge(self):
    return self.name + self.age
a = Me("Alimen Rasheed", " 19 ")
a.NameAge()

'Alimen Rasheed 19 '

Dictionaries

In [35]:
students = {
            1:"Ben",
            2:"Steve",
            3:"Joy", 
            4:"Adam",
            5:"Sheed"
}
print(students)

{1: 'Ben', 2: 'Steve', 3: 'Joy', 4: 'Adam', 5: 'Sheed'}