<a href="https://colab.research.google.com/github/Rasheed-Alimen/OOP-58001/blob/main/Loop_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break statement

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
   print(x)
   break

Thursday

Looping through a string

In [13]:
for x in "something":
 print (x)

s
o
m
e
t
h
i
n
g

Nested loops

In [11]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
 for y in fruits:
   print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python While loops

In [18]:
i = 1
while i<6:
 print(i)
 i += 1

1
2
3
4
5

Break statement

In [19]:
#using break statement
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

else statement

In [22]:
i = 1
while i<6:
   print(i)
   i += 1
else:
     print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

application 1

In [26]:
i = 0
while i < 10:
    print("hello")
    i = i + 1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

application 2

In [29]:
i = 4
while i < 10:
  print(i)
  i += 1

4
5
6
7
8
9